<h1>Trees</h1>

<% @trees.show_healthy.each do |tree| %>
  <h3><%= tree.species %></h3>
  <p>Diameter: <%= tree.diameter %> in</p>
  <% if tree.healthy %>
    <p><%= 'Healthy'%></p>
  <% else %>
    <p><%= 'Unhealthy'%></p>
  <% end %>
<% end %>