<h1 id="welcome">Welcome to HappyTrees</h1>

<p><b>Parks Index Features:</b></p>
<ul><li>Preset: Sort by Created At</li>
<li>Sort by Tree Count</li>
<li>Exact/Partial search</li></ul>
<p><b>Parks Show Features:</b></p>
<ul><li>Park Tree Count/attributes</li>
<li>Park Tree Index link</li></ul>
<p><b>Trees Index Features:</b></p>
<ul><li>Preset: Show Healthy</li>
<li>Exact/Partial search</li></ul>
<p><b>Trees Show Features:</b></p>
<ul><li>Tree's attributes</li></ul>
<p><b>Park's Tree Index</b><p>
<ul><li>Sort Alphabetically</li>
<li>Only > X Diameter</li></ul>
<p><b>Other Features:</b><p>
<ul><li>CRUD functionality</li>
<li>Edit field placeholders</li>
<li>Links for easy navigation</ul>
<p>And more...</p>

<div id="logo">
  <%= image_tag("welcome/p1-tree.jpg", width: '500px')%>
</div>